<div class="page-header">
	<h1>
		Curriculum Vitae 
		<button class="btn btn-default" ng-click="openNew()">
			<span class="glyphicon glyphicon-plus"></span> 
			Nuevo
		</button>
	</h1>
</div>

<table class="table table-condensed table-striped">
	<tr>
		<th>Id</th>
		<th>Nombre</th>
		<th>Category</th>
		<th>Acciones</th>
	</tr>
	<tr ng-repeat="(index, cv) in cvs">
		<td>{{index}}</td>
		<td>{{cv.title}}</td>
		<td>{{cv.category}}</td>
		<td>
			<button class="btn btn-primary btn-xs" ng-click="openShow(cv)">
				<span class="glyphicon glyphicon-eye-open"></span> Ver
			</button>
			<button class="btn btn-success btn-xs" ng-click="openEdit(cv)">
				<span class="glyphicon glyphicon-edit"></span> Edit
			</button>
			<button class="btn btn-danger btn-xs" ng-click="openDelete(cv)">
				<span class="glyphicon glyphicon-trash"></span> Delete
			</button>
		</td>
	</tr>
</table>