<div class="modal-header">
	<h3 class="modal-title">
		<span class="glyphicon glyphicon-plus"></span> 
		Nuevo
	</h3>
</div>

<div class="modal-body">
	<form class="form-horizontal">
		
		<div class="form-group">
			<label class="control-label col-lg-2">Nombre</label>
			<div class="col-lg-3">
				<input class="form-control" type="text" ng-model="cv.title">
			</div>
		</div>

		<div class="form-group">
			<label class="control-label col-lg-2">Category</label>
			<div class="col-lg-3">
				<input class="form-control" type="text" ng-model="cv.category">
			</div>
		</div>

		<div class="form-group">
			<label class="control-label col-lg-2">Content</label>
			<div class="col-lg-8">
				<textarea class="form-control" ng-model="cv.content" rows="15"></textarea>
			</div>
		</div>
	</form>
</div>

<div class="modal-footer">
	<button class="btn btn-primary" ng-click="add(cv)">
		<span class="glyphicon glyphicon-save"></span>
		Guardar
	</button>
	<button class="btn btn-warning" ng-click="cancel()">
		<span class="glyphicon glyphicon-circle"></span> 
		Cancelar
	</button>
</div>